<div class="row">
    <input class="form-control" type="file" (change)="onFileUpload($event)" />
    @if (tableRecord().length) {
        <div class="col-md-12 py-1">
            Showing records from {{recordMetaData().start}} to {{recordMetaData().end}}
            @if (!recordMetaData().done) {
                <button class="btn btn-light ml-2" (click)="nextChunk()">Load Next Chunk</button>
            }
        </div>
    }

    <div class="col-md-6 p-2 mt-2 border rounded">
        <p-table [value]="tableRecord()" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
            selectionMode="single" dataKey="key" [selection]="selectedObject()" [metaKeySelection]="true"
            (selectionChange)="onSelect($event)" [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true"
            scrollHeight="100vh" styleClass="p-datatable-striped p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Record</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr [pSelectableRow]="record" class="table-row">
                    <td>{{ record.key }}</td>
                    <td>{{ record.value }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-md-6 p-2 mt-2 border rounded bg-body-tertiary">
        <ngx-json-viewer [json]="selectedObject().value" [expanded]="false" (click)='triggerChangeDetection()'></ngx-json-viewer>
    </div>
</div>