<div class="row">
    <div class="col-md-2">
        <label for="files">Select Avro Schema:</label>
    </div>
    <div class="col-md-5">
        <input id="files" class="form-control" type="file" (change)="onFileUpload($event)">
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-2">
        <label for="files">Limit:</label>
    </div>
    <div class="col-md-5">
        <input id="files" class="form-control" type="number" [(ngModel)]="limit">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-2 justify-center">
        <button class="btn btn-primary" (click)="generateAvroFile()">Generate Avro File</button>
    </div>
</div>